<title>{{tt}}</title>
<div class="text-center">
  <p><a href="#!/" class="navbar-brand">Trang Chủ</a> >> {{lh}}</p>
</div>
<div class="container"></div>
<div>
  <img src="img/bannerdk.jpg" style="width: 100%; ">
</div>
<div class="container">
  <h5 class="text-center mt-3">VĂN PHÒNG TƯ VẤN</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-blog">
        <div class="card-header card-header-image">
          <a href="#pablo">
            <img
              class="img img-raised"
              src="img/lienhe1.jpg"
              style="width: 100%"
            />
          </a>
          <div
            class="colored-shadow"
            style="background-image: 'img/hs.jpg'; opacity: 1"
          ></div>
        </div>
        <div class="card-body">
          <h6 class="category text-success">VMC Bản Khoan</h6>
          <p class="card-description">
            <ul><li>Địa Chỉ : Bản Khoan, Thượng Nông, Na Hang, Tuyên Quang</li></ul>
            <ul><li>Hotline : +123 456 789</li></ul>
            <ul><li>Email : vuongmanhchuyendeptrai03@gmail.com</li></ul>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-blog">
        <div class="card-header card-header-image">
          <a href="#pablo">
            <img
              class="img img-raised"
              src="img/lienhe2.jpg"
              style="width: 100%"
            />
          </a>
          <div
            class="colored-shadow"
            style="background-image: 'img/sv.jpg'; opacity: 1"
          ></div>
        </div>
        <div class="card-body">
          <h6 class="category text-success">VMC Hà Nội</h6>

          <p class="card-description">
            <ul><li>Địa Chỉ : Bản Khoan, Thượng Nông, Na Hang, Tuyên Quang</li></ul>
            <ul><li>Hotline : +123 456 789</li></ul>
            <ul><li>Email : vuongmanhchuyendeptrai03@gmail.com</li></ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7368.593117952226!2d105.48930642415296!3d22.568009090740414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x36cb0bd3e593261b%3A0xfa6e04c0bbae042c!2zVGjGsOG7o25nIE7DtG5nLCBOYSBIYW5nIERpc3RyaWN0LCBUdXnDqm4gUXVhbmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1679392007992!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.5072337937486!2d105.73856581473194!3d21.05239398598559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f754452eab%3A0x498d0a24ebc8df52!2zUXXDoW4gQ8OieSBCw6BuZw!5e0!3m2!1sen!2s!4v1679392050167!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
