<title>{{tt}}</title>
<div class="text-center">
  <p><a href="#!/" class="navbar-brand">Trang Chủ</a> >> {{tt}}</p>
</div>
<div>
  <img src="img/bannertt.jpg" style="width: 100%" />
</div>
<div class="section mt-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt1.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/tt1.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-info">
                  Đột nhập vào Giờ học Doanh nghiệp Kỹ năng mềm Giao tiếp của
                  sinh viên T2210E
                </h6>
                <p class="card-description">
                  Giờ học Doanh nghiệp là một hoạt động bổ trợ Kỹ năng mềm cho
                  các bạn sinh viên nhà FAI nói chung và sinh viên...
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt2.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/sv.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-success">
                  Chặng đường đầu tiên nhà T2208M chính thức hoàn thành với lễ
                  bảo vệ đồ án kỳ 1
                </h6>

                <p class="card-description">
                  Mỗi kỳ đồ án trôi qua, các sinh viên nhà FPT Aptech sẽ lại
                  được sở hữu những sản phẩm đầu tay do chính mình...
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt3.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/ndl.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-danger">
                  Khám phá những đồ án chỉn chu của tập thể T2209A kỳ cuối
                </h6>

                <p class="card-description">
                  Chỉ với 6 tháng rèn luyện tại FPT Aptech, các thành viên của
                  lớp T2209A đã cho ra mắt những dự án đầu tiên hoàn...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt4.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/hs.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-info">
                  Xôn xao lương IT lên đến 140 triệu đồng/tháng: Người trong
                  ngành nói gì?
                </h6>
                <p class="card-description">
                  Trên các trang mạng xã hội đang rộ lên thông tin mức lương
                  ngành công nghệ thông tin lên đến 140 triệu đồng/tháng. Việc
                  này...
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt5.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/sv.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-success">
                  [2023] Ngành Game Việt phát triển nhưng thiếu nhân lực trầm
                  trọng!
                </h6>

                <p class="card-description">
                  Ngành game Việt Nam hiện nay đang phát triển mạnh mẽ và được
                  đánh giá là điểm sáng trên bản đồ thể thao điện tử...
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt6.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/ndl.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-danger">
                  FPT Aptech & View học lập trình lý tưởng tại Khu đô thị ven
                  sông lớn nhất Sài Gòn
                </h6>

                <p class="card-description">
                  Tiếp tục sứ mệnh đào tạo nguồn nhân lực chất lượng cao cho thị
                  trường, Hệ thống đào tạo Lập trình viên Quốc tế FPT...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt7.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/hs.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-info">
                  Công ty Cổ phần VIETNIX tuyển dụng: System Admin
                </h6>
                <p class="card-description">
                  Vị trí: System admin (Linux) Thời gian ứng tuyển: Tháng 3/2023
                  Số lượng: 01 Mô tả công việc: Làm việc với các hệ thống
                  website...
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt8.jpeg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/sv.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-success">
                  Công ty TNHH GAMELOFT tuyển dụng: Nhà phát triển trò chơi C++
                </h6>

                <p class="card-description">
                  Vị trí: Nhà phát triển trò chơi C++ (Fresher/Junior) Thời gian
                  ứng tuyển: Tháng 3/2023 Mô tả công việc: Làm việc với các
                  thiết bị...
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/tt9.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/ndl.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-danger">
                  Công ty TNNH DEK Technologies Việt Nam tuyển dụng: Thực tập
                  sinh 2023
                </h6>

                <p class="card-description">
                  Vị trí tuyển dụng: Lập Trình Viên iOS Mô tả công việc: Thiết
                  kế, xây dựng phần mềm di động cho ứng dụng nội bộ...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
