<title>{{tt}}</title>
<div class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
</svg></i> {{tt}}</div>
<div class="">
  <div class="carousel-inner mt-3">
    <img class="d-block" src="img/bannertrangchu.jpg" style="width: 100%" />
  </div>
</div>
<div class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center">
          NHỮNG AI NÊN THAM GIA KHÓA HỌC LẬP TRÌNH <br />
          TẠI VMC TIGER?
        </h2>
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/hs.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/hs.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-info">HỌC SINH THPT</h6>
                <p class="card-description">
                  Yêu thích máy tính, công nghệ, mong muốn tìm kiếm ngành học có
                  tương lai rộng mở, một cơ sở đào tạo Lập trình có đầu ra đảm
                  bảo.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/sv.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/sv.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-success">SINH VIÊN</h6>

                <p class="card-description">
                  Sinh viên khối ngành CNTT/Trái ngành muốn tìm kiếm môi trường
                  học thực hành Lập trình đầy đủ, chuyên nghiệp, phát triển toàn
                  diện các kỹ năng.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img
                    class="img img-raised"
                    src="img/ndl.jpg"
                    style="width: 100%"
                  />
                </a>
                <div
                  class="colored-shadow"
                  style="background-image: 'img/ndl.jpg'; opacity: 1"
                ></div>
              </div>
              <div class="card-body">
                <h6 class="category text-danger">NGƯỜI ĐI LÀM</h6>

                <p class="card-description">
                  Mong muốn nâng cao, bổ sung kiến thức chuyên môn. Hoặc muốn
                  chuyển ngành, tìm kiếm công việc có thu nhập hấp dẫn, thay đổi
                  công việc hiện tại
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-team text-center mt-5">
  <div class="container">
    <h2 class="title">4 LỢI ÍCH TO LỚN KHI THAM GIA HỌC TẬP TẠI VMC TIGER</h2>
    <div class="team mt-5">
      <div class="row">
        <div class="col-md-3">
          <div class="team-player">
            <img
              src="img/loi5.png"
              alt="Thumbnail Image"
              class="rounded-circle img-fluid img-raised"
            />
            <p class="description">
              Nhận bằng quốc tế ADSE (Advanced Diploma in Software Engineering)
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-player">
            <img
              src="img/loi2.png"
              alt="Thumbnail Image"
              class="rounded-circle img-fluid img-raised"
            />
            <p class="description">
              Thời gian học ngắn, chỉ từ 6 tháng – 2 năm là có thể đi làm ngay
              với kỹ năng thuần thục.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-player">
            <img
              src="img/loi3.png"
              alt="Thumbnail Image"
              class="rounded-circle img-fluid img-raised"
            />
            <p class="description">
              Thu nhập khởi điểm từ 10 –12 triệu/tháng. Trong 5 năm tiếp theo từ
              19 – 30 triệu/tháng.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-player">
            <img
              src="img/loi4.png"
              alt="Thumbnail Image"
              class="rounded-circle img-fluid img-raised"
            />
            <p class="description">
              Có thể làm việc từ xa và làm tự do (freelance) nên có thể nhận
              cùng lúc nhiều đầu việc và có nhiều khoản thu nhập.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h2 class="title text-center">NỘI DUNG CHƯƠNG TRÌNH HỌC</h2>
  <div class="row mt-5">
    <div class="col-md-6"><img src="img/k1.png" style="width: 100%" /></div>
    <div class="col-md-6">
      <h3 class="text-danger">HỌC KỲ 1</h3>
      <h4>
        Thiết kế web chuyên nghiệp & phân tích thiết kế hệ thống cơ sở dữ liệu
      </h4>
      Học các kỹ năng thiết kế và xây dựng website chuyên nghiệp cho các hệ
      thống thương mại điện tử, các doanh nghiệp…v.v kết hợp với các framework
      phổ biến nhất hiện nay: Bootstrap, Jquery. Trang bị kỹ năng phân tích,
      thiết kế cơ sở dữ liệu, chuẩn hóa dữ liệu thô để tổ chức các bảng dữ liệu
      trong môi trường SQL Server 2016.

      <div class=""><img src="img/c.jpg" style="width: 50%" /></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-danger">HỌC KỲ 2</h3>
      <h4>
        Lập trình hướng đối tượng với ngôn ngữ JavaSE, C#, PHP & phân tích hệ
        thống thông tin.
      </h4>
      Học các kỹ năng lập trình chuyên sâu với hai ngôn ngữ lập trình hướng đối
      tượng được sử dụng nhiều nhất trên thế giới là Java và C#. Viết thành thạo
      các phần mềm ứng dụng bằng JavaSE. Tiếp đó là phát triển website động
      chuyên nghiệp với công nghệ PHP & MySQL. Ngoài ra, sinh viên còn được
      trang bị các công cụ, mô hình để phân tích chức năng và yêu cầu của hệ
      thống thông tin.
      <div class=""><img src="img/ki2.jpg" style="width: 50%" /></div>
    </div>
    <div class="col-md-6"><img src="img/k2.png" style="width: 100%" /></div>
  </div>
  <div class="row">
    <div class="col-md-6"><img src="img/k3.png" style="width: 100%" /></div>
    <div class="col-md-6">
      <h3 class="text-danger">HỌC KỲ 3</h3>
      <h4>
        Chuyên sâu về công nghệ .NET và các kỹ thuật phân tích thiết kế phần mềm
      </h4>
      Tiếp cận đầy đủ công nghệ hàng đầu của Microsoft, đi sâu vào cấu trúc lập
      trình bên trong của desktop/web/enterprise application. Bên cạnh đó, sinh
      viên còn được trang bị kiến thức, kỹ năng, kỹ thuật chuyên sâu trong phân
      tích, thiết kế và phát triển dự án phần mềm.
      <div class=""><img src="img/ki3.jpg" style="width: 50%" /></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-danger">HỌC KỲ 4</h3>
      <h4>Chuyên sâu về công nghệ JAVA. Lập trình ứng dụng di động</h4>
      Học cách thiết kế, phát triển và triển khai các web/enterprise application
      một cách thuần thục trên công nghệ JAVAEE, lập trình thành thạo ứng dụng
      cho đa nền tảng (iOS và Android). Trong học kỳ này, còn cung cấp cho người
      học kỹ năng thực tế cần thiết để bảo mật hệ thống mạng, kỹ thuật mã hóa an
      toàn thông tin dữ liệu.
      <div class=""><img src="img/ki4.jpg" style="width: 50%" /></div>
    </div>
    <div class="col-md-6"><img src="img/k4.png" style="width: 100%" /></div>
  </div>
</div>
<div class="container mt-5">
  <h2 class="text-center text-danger">CÔNG VIỆC SAU KHI TỐT NGHIỆP</h2>
  <div class="header-body mt-2">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >CHUYÊN GIA LẬP TRÌNH WEB</span
                >
              </div>
              <div class="col-auto"></div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i
              ></span>
              <span class="text-nowrap"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >CHUYÊN VIÊN PHÁT TRIỂN ỨNG DỤNG JAVA</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >LẬP TRÌNH VIÊN CƠ SỞ DỮ LIỆU, MYSQL</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >CHUYÊN VIÊN PHÁT TRIỂN ỨNG DỤNG</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >CHUYÊN GIA LẬP TRÌNH WEB FULLSTACK</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >CHUYÊN VIÊN PHÁT TRIỂN ỨNG DỤNG JAVA</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >LẬP TRÌNH VIÊN CƠ SỞ DỮ LIỆU, MYSQL</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                <span class="font-weight-bold text-center"
                  >CHUYÊN VIÊN PHÁT TRIỂN ỨNG DỤNG</span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-team text-center mt-5">
  <div class="container">
    <h2 class="title">ĐỘI NGŨ GIẢNG VIÊN</h2>
    <div class="team mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img
              src="img/hv1.jpg"alt="Thumbnail Image" style="width: 100%;"
              class="rounded-circle img-fluid img-raised"
            />
            <h4 class="title mt-2">VƯƠNG MẠNH CHUYỀN</h4>
            <p class="category text-primary">GIẢNG VIÊN</p>
            <p class="description">
              Hơn 11 năm kinh nghiệm giảng dạy Lập trình, thầy luôn nhận được
              niềm tin yêu của sinh viên. Với vốn hiểu biết sâu rộng thầy luôn
              mang đến những bài học hấp dẫn, bổ ích và sẵn sàng giúp sinh viên
              giải đáp mọi thắc mắc.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img
              src="img/hv1.jpg" style="width: 100%;"
              alt="Thumbnail Image"
              class="rounded-circle img-fluid img-raised"
            />
            <h4 class="title mt-2">VƯƠNG MẠNH CHUYỀN</h4>
            <p class="category text-primary">GIẢNG VIÊN</p>
            <p class="description">
              Với 33 năm kinh nghiệm trong lĩnh vực đào tạo Lập trình viên tại
              VMC Tiger, Thầy không chỉ dạy lập trình mà còn kiêm luôn cả dạy
              làm người, nhất là xây đắp phần “Người” đầy cốt cách bên trong mỗi
              sinh viên. Để mỗi con người trẻ ấy không chỉ tài giỏi mà còn toàn
              diện về phẩm chất nghề nghiệp.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img
              src="img/hv1.jpg"
              alt="Thumbnail Image"
              class="rounded-circle img-fluid img-raised"
            />
            <h4 class="title mt-2">VƯƠNG MẠNH CHUYỀN</h4>
            <p class="category text-primary">GIẢNG VIÊN</p>
            <p class="description">
              Bắt đầu hành trình đào tạo Lập trình tại VMC Tiger từ năm 2000, cô
              có biệt tài biến những dòng code khô khan, khó hiểu thành một trật
              tự logic giúp sinh viên dễ dàng hấp thu và vận dụng đúng chuẩn dân
              công nghệ.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <img src="img/banner2.png" style="width: 100%" alt="" />
</div>
